<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.card.widget.support">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SupportDemo">
        <meta-data
            android:name="com.oplus.ocs.card.AUTH_CODE"
            android:value="ADBFAiEAyWa+VcxYKy5CJiaii0DxERsq6cRRh1Ne7ovFgHgf1DYCIDS2ugk0tIX7RtbEIrhmNtJiSR0DUGruQQESxyPPlEMgakOFzg=="
            />
        <activity
            android:name="com.oplus.support.view.DebugActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.oplus.support.view.TestClickActivity">
            <intent-filter>
                <action android:name="com.card.widget.testactivity.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>